//Layout primarily with PACKERY plugin
// .wrapperResults {
// 	max-width: 1400px;
// 	margin: 0 auto;
// }

.gridWrapper {
	margin: 0 auto;
	max-width: 80%;
	@include bp(xlrg) {
		max-width: 100%;
	}
}
.grid {
	width: 100%;
	// margin-left: 100px;
	margin:20px 20px 80px 0;
	@include bp('xlrg') {
		margin-left:20px;
	}
	@include bp('sml') {
		margin-left:0;
	}
}

.gutterOne {
	width: 5%;
	@include bp('xlrg') {
		width: 2%;
	}
	@include bp('sml') {
		width:0;
	}
}

div.grid-item {
	// background: white;
	box-shadow: 1px 1px 3px $darkGrey;
}

//For Booze results
div.grid-sizerOne {
	width: 25%;
	height: auto;	
	@include bp('lrg') {
		width:48%;
	}
	@include bp('sml') {
		width: 100%;
	}
}

//For Movie/TV results
div.gridsizerTwo {
	// width: 100%;
	height: auto;
}

div.grid-item img {
	max-width: 100%;
	display: block;
}

.topBar {
	display: none;
	background: $grey;
	margin-bottom: 40px;
	padding: 20px 10px;
	position: relative;
	@include bp('med') {
		flex-direction:column;
	}
}

.topBarShow {
	display: flex;
}

.topBar .reset {
	flex-shrink:0;
}

.topBar .reload {
	@include buttonStyle($white, $deepBlue);
	border-radius: 2px;
	padding:10px;
	font-size: 1.5rem;
	letter-spacing: 1.4px;
	transition: all 0.3s ease-in;
	a {
		color:white;
		text-decoration: none;
	}
	&:hover {
		background: darken($deepBlue, 5);
	}
}

.topBar .userMedia {
	display: flex;
	justify-content: center;
	align-items:center;
	margin-left: 70px;
	padding: 40px 0;
	@include bp(xlrg) {
		margin-left:20px;
		padding: 20px 0;
	}
	@include bp('med') {
		margin-left:0;
	}
	@include bp('smlMed') {
		flex-direction:column;
		align-items:center;
	}
}

.topBar .userMedia .userMedia__header {
	text-align: center;
	@include bp('smlMed'){
		margin-bottom:20px;
	}
}

.userMedia__header h2 {
	font-size: 3.5rem;
	// margin-right:20px;
	color: $blackish;
	text-align: center;
	@include bp('lrg')
		font-size: 2.8rem;
	@include bp('med') {
		font-size: 1.8rem;
	}
	@include bp('smlMed') {
		margin-bottom:10px;
		margin-top:10px;
	}
}

.userMedia__header h3 {
	color: $blackish;
	font-size: 2.6rem;
	letter-spacing: 1.8px;
	.starRating {
		letter-spacing: 8px;
		color: $deepRed;
	}
	@include bp('lrg'){
		font-size: 2.4rem;
	}
	@include bp('med') {
		font-size: 1.6rem;
	}
}

.userMedia .imgContain {
	width:55%;
	transform: rotate(6deg);
	// border-radius: 10px;
	border: 1px solid $deepRed;
	@include bp('lrg') {
		width:55%;
		margin: 0 auto;
		// flex-shrink:0;
	}
}
.fullContain {
	position: absolute;
	top: 15px;
	left: 75%;
	z-index:99;
	@include bp('lrg'){
		position: relative;
		top: auto;
		left:auto;
	}
}


.userMedia .imgContain img {
	max-width: 100%;
	display: block;
}


//When results shows media/content:
.result {
	width:7%;
	@include bp('med') {
		margin-top: 10px;
	}
	@include bp('sml') {
		width: 12%;
	}
	img {
		max-width: 100%;
		display: block;
	}
}

// h5.poisin {
// 	font-family: $cursive;
// 	color: $blackish;
// 	font-size: 4.5rem;
// }

.userMedia h5 {
	color: $blackish;
	@include bp('med') {
		text-align: center;
	}
	// font-size: 4rem;
}
h5 span.mediaChoice {
	@include netflixText();
	font-size:  6rem;
}
//These Styles are for the Booze Results
.boozeResultItem {
	width:25%;
	height: auto;
	display: flex;
	flex-direction:column;
	align-items: center;
	padding: 10px 5px 5px 5px;
	text-align: center;
	background: white;
	// background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,1) 58%,rgba(214,214,214,0.99) 81%,rgba(214,214,214,0.99) 98%,rgba(214,214,214,0.99) 100%);
	@include bp('lrg') {
		width:48%;
		background: white;
	}
	@include bp('sml') {
		width: 100%;
		padding:0;
	}
}

.boozeResultItem:hover {
	box-shadow: 1px 1px 6px $darkGrey;
}

.boozeResultItem h3 {
	font-size: 2rem;
	font-family: $netflix;
	color: $blackish;
	letter-spacing: 1.2px;	
	margin: 20px 0;
}

.boozeResultItem h4 {
	font-size: 1.8rem;
	font-family: $sanSerif;
	letter-spacing: 1.5px;
	color: $deepBlue;
}

.boozeResultItem .underText {
	color: $blackish;
	line-height: 1.2;
	padding: 5px;
	font-size: 1.4rem;
}

.boozeResultItem .contain {
	display: flex;
	align-items:center;
	@include bp('lrg') {
		flex-direction:column;
	}
}
.boozeResultItem .imageContain {
	max-width: 50%;
	flex-shrink: 0;
}

.boozeResultItem .containText {
	text-align: center;
	padding-right: 20px;
	p {
		margin:20px 0;
		line-height: 1.4;
		color: $blackish;
	}
}

//These Styles are for the Content Results
.mediaResult {
	// width: 100%;
	height: auto;
	}
.resultMediaContain {
	position: relative;
	transition: all 0.3s ease-out;
	@include bp('med') {
		display: flex;
		background: $white;
	}
}

.resultMediaContain .imgContain {
	@include bp('med') {
		max-width:50%;
		background: $white;
	}
}

.resultMediaContain .overlay {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:flex;
	opacity: 0;
	transition: all 0.3s ease-in;
	text-align:center;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background: transparentize($blackish, 0.1);
	padding:10px;
	color: $blackish;
	@include bp('med'){
		display:flex;
		position:static;
		max-width: 50%;
		background: $white;
		opacity: 1;
	}
	h4 {
		color: lighten($deepBlue, 10);
		margin-bottom: 20px;
		@include bp('sml'){
			font-size: 1.3rem;
		}
	}
	p {
		margin:0;
		font-size: 1.4rem;
		line-height: 1.3;
		color: $white;
		@include bp('med'){
			color: $blackish;
		}
		@include bp('sml') {
			font-size: 1.2rem;
		}
	}
}

.resultMediaContain:hover .overlay {
	// display:flex;
	opacity: 1;
	@include bp('med'){
		display: flex;
	}	
}


