article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

form.getMedia, form.boozeForm, form.boozeFormPartTwo {
  display: none; }

.chooseFirstOption {
  display: flex;
  flex-direction: column; }

.wrapper {
  max-width: 80%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 767px) {
    .wrapper {
      max-width: 100%; } }

.title {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px; }

.title h1 {
  margin: 0;
  color: #F5F5F5;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.4px;
  font-size: 8rem; }
  .title h1 .upper {
    color: #E50914;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "Oswald", sans-serif; }
    @media (max-width: 480px) {
      .title h1 .upper {
        display: block; } }

.title p {
  font-size: 2rem;
  margin: 0 0 20px 0; }
  @media (max-width: 480px) {
    .title p {
      font-size: 1.5rem; } }

.firstDecision {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .firstDecision {
      flex-direction: column;
      align-items: center; } }
  .firstDecision label {
    transition: all 0.1s ease-out;
    padding: 10px 30px;
    border: 2px solid transparent;
    background: #004E48;
    border-radius: 10px;
    color: #F5F5F5;
    letter-spacing: 1.2px;
    font-size: 1.8rem;
    transition: all 0.3s ease-in; }
    .firstDecision label:hover {
      background: #003530; }
    .firstDecision label span {
      font-style: italic; }
  .firstDecision input[name=firstChoice] {
    visibility: hidden;
    transition: all 0.1s ease-in; }
  .firstDecision #userChooseDrink:checked ~ label[for=userChooseDrink] {
    border: 2px solid #006860; }
  .firstDecision #userChooseMedia:checked ~ label[for=userChooseMedia] {
    border: 2px solid #006860; }

.firstDecision label:nth-child(2) {
  margin-right: 30px; }
  @media (max-width: 767px) {
    .firstDecision label:nth-child(2) {
      margin-right: 0;
      margin-bottom: 20px; } }

.getBooze {
  display: flex;
  justify-content: center;
  align-items: center; }

.getBooze input[type=text] {
  background: none;
  outline: none;
  border: none;
  background: #F5F5F5;
  padding: 15px 10px;
  width: 350px;
  font-size: 1.8rem;
  color: #101010;
  border-radius: 10px 0 0 10px;
  box-shadow: 2px 2px 1px #868686;
  margin: 50px 0 20px 0; }
  @media (max-width: 767px) {
    .getBooze input[type=text] {
      width: 250px; } }

.getBooze input[type=text]::-webkit-input-placeholder {
  color: #068F85; }

#searchMedia {
  background: none;
  background: #939393;
  color: #F5F5F5;
  border: none;
  box-shadow: 2px 2px 1px #868686;
  padding: 15px;
  font-size: 1.8rem;
  margin: 50px 0 20px 0; }

ul.chooseTheBooze {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  list-style: none;
  max-width: 80%;
  margin: 40px auto 70px auto; }
  @media (max-width: 480px) {
    ul.chooseTheBooze {
      max-width: 100%; } }

.chooseTheBooze h4 {
  font-size: 2.2rem;
  letter-spacing: 1.4px;
  margin-bottom: 20px; }

.chooseTheBooze .containList {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  background: #F5F5F5;
  border-radius: 10px;
  max-width: 80%;
  padding: 10px; }
  @media (max-width: 767px) {
    .chooseTheBooze .containList {
      max-width: 90%; } }
  @media (max-width: 480px) {
    .chooseTheBooze .containList {
      max-width: 80%; } }
  .chooseTheBooze .containList li {
    text-align: center;
    transition: all 0.3s ease-out; }
    @media (max-width: 480px) {
      .chooseTheBooze .containList li {
        max-width: 50%; } }
    .chooseTheBooze .containList li:hover img {
      transform: scale(1.1); }
    .chooseTheBooze .containList li:hover h5 {
      color: #004E48; }
  .chooseTheBooze .containList label {
    display: block; }
  .chooseTheBooze .containList h5 {
    font-size: 2rem;
    transition: all 0.3s ease-out;
    color: #800006; }
    @media (max-width: 767px) {
      .chooseTheBooze .containList h5 {
        font-size: 1.5rem; } }
  .chooseTheBooze .containList input[name=boozeType] {
    display: none; }
  .chooseTheBooze .containList input[name=boozeType]:checked ~ label img {
    border: 2px solid #800006; }
  .chooseTheBooze .containList li label img {
    max-width: 100%;
    width: 35%;
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    padding: 5px;
    border: 2px solid transparent;
    transition: all 0.3s ease-out; }
    @media (max-width: 940px) {
      .chooseTheBooze .containList li label img {
        width: 50%; } }

#getBoozeSubmit, #getMediaSubmit {
  background: none;
  background: #004E48;
  color: #F5F5F5;
  border: none;
  box-shadow: 2px 2px 1px #003530;
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  border-radius: 10px;
  padding: 10px 30px;
  margin-bottom: 75px;
  transition: all 0.3s ease-in; }
  #getBoozeSubmit:hover, #getMediaSubmit:hover {
    background: #003530; }

.getMedia {
  padding: 0;
  margin: 0 auto; }

.getYourBooze__header, .getYourContent__header {
  font-size: 2.2rem;
  letter-spacing: 1.4px;
  margin-bottom: 20px; }

.getMedia ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }

@media (max-width: 940px) {
  .getMedia li {
    max-width: 100%; } }

@media (max-width: 480px) {
  .getMedia .listContain li {
    width: 50%; } }

.getMedia label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 0 auto;
  text-align: center; }
  @media (max-width: 480px) {
    .getMedia label {
      margin: 5px 0; } }

.getMedia label .imageContain {
  max-width: 50%; }
  @media (max-width: 480px) {
    .getMedia label .imageContain {
      max-width: 70%; } }

.getMedia label .imageContain.imageContain--small {
  max-width: 30%; }
  @media (max-width: 480px) {
    .getMedia label .imageContain.imageContain--small {
      max-width: 80%; } }

.getMedia label img {
  max-width: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease-out;
  display: block; }
  .getMedia label img:hover {
    transform: scale(1.1); }

.getMedia label h5 {
  font-size: 1.6rem;
  transition: all 0.3s ease-out;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #800006;
  transition: all 0.3s ease-in; }
  @media (max-width: 767px) {
    .getMedia label h5 {
      font-size: 1.4rem; } }

.getYourBooze {
  margin-top: 40px; }

.getYourContent {
  margin-top: 40px; }

.listContain {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
  max-width: 50%;
  background: #d6d6d6;
  border-radius: 10px;
  padding-bottom: 20px; }
  @media (max-width: 940px) {
    .listContain {
      max-width: 80%; } }
  @media (max-width: 480px) {
    .listContain {
      padding: 0 10px;
      max-width: 100%;
      border-radius: 0;
      padding: 20px 0 0 0; } }

.listContain--marginBottom {
  margin-bottom: 60px; }

.listContain--wrapper {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.getMedia .imageContain:hover ~ h5 {
  color: #004E48; }

.getMedia input[name=chooseBooze] {
  display: none; }

.getMedia input[name=mediaType] {
  display: none; }

.getMedia input[name=chooseBooze]:checked ~ label img {
  border: 2px solid #004E48; }

.getMedia input[name=mediaType]:checked ~ label img {
  border: 2px solid #004E48; }

.headerText {
  text-align: center;
  margin: 60px 0 30px 0; }
  .headerText h4 {
    font-size: 2.2rem;
    letter-spacing: 1.4px; }

ul.manyOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none; }

.resultItemContain {
  width: 25%;
  margin-bottom: 20px; }
  @media (max-width: 940px) {
    .resultItemContain {
      width: 50%; } }
  .resultItemContain input[type=radio] {
    background: none;
    display: none; }
  .resultItemContain input[type=radio]:checked ~ .resultItem .imageContain img {
    border: 5px solid #800006; }

.manyOptions .nothing {
  font-size: 2rem; }

.resultItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s ease-out; }
  .resultItem h5 {
    font-size: 1.6rem;
    color: #F5F5F5;
    letter-spacing: 1.3px; }
  .resultItem div.imageContain {
    max-width: 45%;
    flex-shrink: 0;
    margin: 0 auto; }
    @media (max-width: 480px) {
      .resultItem div.imageContain {
        max-width: calc(100% - 2px - 2px);
        margin: 0 2px; } }
    .resultItem div.imageContain img {
      margin: 0 auto;
      max-width: 100%;
      border: 5px solid transparent;
      display: block;
      transition: all 0.3s ease-out; }

.resultItem:hover {
  transform: scale(1.05); }

.grid {
  max-width: 100%;
  margin-left: 100px;
  margin-bottom: 80px; }
  @media (max-width: 940px) {
    .grid {
      margin-left: 0; } }

div.grid-item {
  box-shadow: 1px 1px 3px #939393; }

div.grid-sizerOne {
  width: 25%;
  height: auto; }
  @media (max-width: 940px) {
    div.grid-sizerOne {
      width: 48%; } }

div.gridsizerTwo {
  height: auto; }

div.grid-item img {
  max-width: 100%;
  display: block; }

.topBar {
  display: flex;
  background: #d6d6d6;
  margin-bottom: 40px;
  padding: 20px 10px;
  position: relative; }
  @media (max-width: 767px) {
    .topBar {
      flex-direction: column; } }

.topBar .reset {
  flex-shrink: 0; }

.topBar .reload {
  background: none;
  background: #004E48;
  color: #F5F5F5;
  border: none;
  box-shadow: 2px 2px 1px #003530;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  letter-spacing: 1.4px;
  transition: all 0.3s ease-in; }
  .topBar .reload a {
    color: white;
    text-decoration: none; }
  .topBar .reload:hover {
    background: #003530; }

.topBar .userMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  padding: 40px 0; }
  @media (max-width: 767px) {
    .topBar .userMedia {
      margin-left: 0; } }
  @media (max-width: 540px) {
    .topBar .userMedia {
      flex-direction: column;
      align-items: center; } }

.topBar .userMedia .userMedia__header {
  text-align: center; }
  @media (max-width: 540px) {
    .topBar .userMedia .userMedia__header {
      margin-bottom: 20px; } }

.userMedia__header h2 {
  font-size: 3.5rem;
  color: #101010;
  text-align: center;
  font-size: 2.8rem; }
  @media (max-width: 767px) {
    .userMedia__header h2 {
      font-size: 1.8rem; } }
  @media (max-width: 540px) {
    .userMedia__header h2 {
      margin-bottom: 10px;
      margin-top: 10px; } }

.userMedia__header h3 {
  color: #101010;
  font-size: 2.6rem;
  letter-spacing: 1.8px; }
  .userMedia__header h3 .starRating {
    letter-spacing: 8px;
    color: #800006; }
  @media (max-width: 940px) {
    .userMedia__header h3 {
      font-size: 2.4rem; } }
  @media (max-width: 767px) {
    .userMedia__header h3 {
      font-size: 1.6rem; } }

.userMedia .imgContain {
  width: 55%;
  transform: rotate(6deg);
  border: 1px solid #800006; }
  @media (max-width: 940px) {
    .userMedia .imgContain {
      width: 55%;
      margin: 0 auto; } }

.fullContain {
  position: absolute;
  top: 15px;
  left: 75%;
  z-index: 99; }
  @media (max-width: 940px) {
    .fullContain {
      position: relative;
      top: auto;
      left: auto; } }

.userMedia .imgContain img {
  max-width: 100%;
  display: block; }

.result {
  width: 7%; }
  .result img {
    max-width: 100%;
    display: block; }

.userMedia h5 {
  color: #101010; }

h5 span.mediaChoice {
  color: #E50914;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 6rem; }

.boozeResultItem {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px 5px 5px;
  text-align: center;
  background: white; }
  @media (max-width: 940px) {
    .boozeResultItem {
      width: 48%;
      background: white; } }
  @media (max-width: 480px) {
    .boozeResultItem {
      width: 100%; } }

.boozeResultItem:hover {
  box-shadow: 1px 1px 6px #939393; }

.boozeResultItem h3 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  color: #101010;
  letter-spacing: 1.2px;
  margin: 20px 0; }

.boozeResultItem h4 {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.5px;
  color: #004E48; }

.boozeResultItem .contain {
  display: flex;
  align-items: center; }
  @media (max-width: 940px) {
    .boozeResultItem .contain {
      flex-direction: column; } }

.boozeResultItem .imageContain {
  max-width: 50%;
  flex-shrink: 0; }

.boozeResultItem .containText {
  text-align: center;
  padding-right: 20px; }
  .boozeResultItem .containText p {
    margin: 20px 0;
    line-height: 1.4;
    color: #101010; }

.mediaResult {
  height: auto; }

.resultMediaContain {
  position: relative;
  transition: all 0.3s ease-out; }
  @media (max-width: 767px) {
    .resultMediaContain {
      display: flex; } }

@media (max-width: 767px) {
  .resultMediaContain .imgContain {
    max-width: 50%; } }

.resultMediaContain .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0;
  transition: all 0.3s ease-in;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(16, 16, 16, 0.9);
  padding: 10px;
  color: #101010; }
  @media (max-width: 767px) {
    .resultMediaContain .overlay {
      display: flex;
      position: static;
      max-width: 50%;
      background: white; } }
  .resultMediaContain .overlay h4 {
    color: #008177;
    margin-bottom: 20px; }
    @media (max-width: 480px) {
      .resultMediaContain .overlay h4 {
        font-size: 1.3rem; } }
  .resultMediaContain .overlay p {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.3;
    color: #F5F5F5; }
    @media (max-width: 480px) {
      .resultMediaContain .overlay p {
        font-size: 1.2rem; } }

.resultMediaContain:hover .overlay {
  opacity: 1; }
  @media (max-width: 767px) {
    .resultMediaContain:hover .overlay {
      display: flex; } }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  color: #F5F5F5;
  background: #101010;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 6rem; }

h2 {
  font-size: 5rem; }

h3 {
  font-size: 4rem; }

h4 {
  font-size: 3rem; }

h5, h6 {
  font-size: 2.8rem; }

footer {
  padding: 20px 10px;
  background: #003530; }
  footer p {
    margin: 0;
    line-height: 1.6;
    letter-spacing: 1.2px; }
  footer p:first-child {
    font-size: 1.4rem; }
  footer span.curly {
    letter-spacing: 1.2px;
    color: #d6d6d6; }
    @media (max-width: 480px) {
      footer span.curly {
        display: block; } }
  footer a {
    text-decoration: none;
    color: #d6d6d6;
    transition: all 0.3s ease-out; }
  footer a:hover {
    color: #800006; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -70px; }

.page-wrap:after {
  content: "";
  display: block; }

footer, .page-wrap:after {
  min-height: 70px; }

.animatedSquare {
  display: none; }

.animatedSquareShow {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #101010;
  z-index: 130; }

.container {
  background: #101010;
  max-width: 50%;
  margin: auto; }

.row {
  display: flex;
  justify-content: center; }

.tall {
  height: 300px; }

.medium {
  height: 40px;
  background: black; }

.container h4 {
  color: white;
  text-align: center;
  margin-top: 20px; }

.short {
  height: 20px; }

.bar {
  width: 75px; }

.blue {
  background: blue; }

.red {
  background: red; }

.pink {
  background: pink; }

.green {
  background: green; }

.cyan {
  background: cyan; }

.yellow {
  background: yellow; }

.white {
  background: white; }
